@keyframes glow {
	0% {
		background-color: rgba(255, 223, 0, 0.1);
	}

	100% {
		background-color: none;
	}
}

.glow-reveal {
	animation: glow 0.5s ease-in-out;
}

.aspireupdate-settings-field-hosts-wrapper .aspireupdate-settings-field-hosts-row {
	margin: 0 0 10px;
}

#aspireupdate-generate-api-key {
	display: inline-flex;
	align-items: center;
	gap: .5em;
}

.aspireupdate-settings-field-wrapper p.error {
	color: #bc3b3b;
	display: none;
}

.aspireupdate-notice {
	background-color: #f0f6fc;
	border: 1px solid #70b9e3;
	border-radius: 50px;
	max-width: max-content;
}

.aspireupdate-notice p::before {
	content: "";
	display: inline-block;
	margin-inline-end: 0.5em;
	vertical-align: middle;
	background: url(../images/aspirepress-logo-icon.svg) no-repeat center center / 20px 20px;
	height: 20px;
	width: 20px;
}

#wp-admin-bar-aspireupdate-admin-bar-menu .aspireupdate-icon {
	margin-inline-end: 0 !important;
	padding: 6px 0.35em 0 !important;
}

#wp-admin-bar-aspireupdate-admin-bar-menu .aspireupdate-icon:before {
	background: url(../images/aspirepress-logo-icon.svg) no-repeat center center / 20px 20px;
	content: '';
	width: 20px;
	height: 20px;
	display: block;
}

p.submit .dashicons {
	vertical-align: middle;
	margin-top: -3px;
}

.button.button-clearlog {
	border-color: #b32d2e;
	color: #b32d2e;
}

#voltron {
	color: transparent;
	font-size: clamp(4px, 0.9vw, 8px);
	line-height: 6px;
	display: inline-block;
	cursor: default;
}

#voltron:hover {
	animation: blink 1.8s ease-in-out 5s infinite;
}

@media (prefers-reduced-motion) {
	#voltron:hover {
		animation-duration: 10s;
		animation-iteration-count: 1;
	}
}

@keyframes blink {

	0%,
	100% {
		color: transparent;
	}

	50% {
		color: inherit;
	}
}

@media only screen and (max-width: 576px) {
	#voltron {
		display: none;
	}
}
